.info-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: var(--horizontal-spacing-four-products-per-row);
    margin-bottom: var(--vertical-spacing-four-products-per-row);
}

.info-block--columns-one {
    width: 25%;
}
.info-block--columns-two {
    width: 50%;
}
.info-block--columns-three {
    width: 75%;
}
.info-block--columns-full {
    width: 100%;
}
.ProductList.ProductList--grid[data-desktop-count="3"] .info-block--columns-one {
    width: 33.33%;
}
.ProductList.ProductList--grid[data-desktop-count="3"] .info-block--columns-two {
    width: 66.6%;
}
.ProductList.ProductList--grid[data-desktop-count="3"] .info-block--columns-three {
    width: 100%;
}


.info-block--columns-one .background-image {
    padding-bottom: 125%;
}
.info-block--columns-two .background-image {
    padding-bottom: 60.8%;
}
.info-block--columns-three .background-image {
    padding-bottom: 40%;
}
.info-block--columns-full .background-image {
    padding-bottom: 45.666667%;
}
.ProductList.ProductList--grid[data-desktop-count="3"] .info-block--columns-one .background-image {
    padding-bottom: 125%;
}
.ProductList.ProductList--grid[data-desktop-count="3"] .info-block--columns-two .background-image {
    padding-bottom: 61.5%;
}
.ProductList.ProductList--grid[data-desktop-count="3"] .info-block--columns-three .background-image {
    padding-bottom: 45.666667%;
}

.background-image {
    background-position: center center;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.scale-on-hover__target, .block-link .inline-image__pad {
    transition: transform .55s ease;
}
.image-overlay:not(.image-overlay--bg-no_background) .background-image {
    background: rgba(18,18,18,.05);
}
/* .scale-on-hover:hover .scale-on-hover__target {
    transform: scale(1.03);
} */

@media screen and (max-width: 1008px){
.info-block--columns-one {
    width: 33.33%;
}
.info-block--columns-two {
    width: 66.6%;
}
.info-block--columns-three {
    width: 100%;
}
.info-block--columns-one .background-image {
    padding-bottom: 124%;
}
.info-block--columns-two .background-image {
    padding-bottom: 59%;
}

}
@media screen and (max-width: 640px){
  .info-block--columns-one {
    width: 50%;
}
 .info-block--columns-two, .info-block--columns-three {
    width: 100%;
}
.info-block--columns-one .background-image {
    padding-bottom: 126%;
}
.info-block--columns-two .background-image {
    padding-bottom: 67%;
}
.info-block--columns-three .background-image, .info-block--columns-full .background-image {
    padding-bottom: 56.666667%;
}
.info-block {
    padding-left: 10px;
    margin-bottom: 35px;
}

}
/* Overlay Text */

.info-list-heading-block {
    position: relative;
}
.info-list-heading-block__text {
    position: absolute;
    top: 0;
    left: 0;
}
.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 2;
}

.product-promotion .overlay-text--inline {
    flex: 1 0 auto;
    width: 100%;
}
.overlay-text__inner {
    display: block;
    position: relative;
    width: 100%;
    padding: 10px;
}
.overlay-text--inline .overlay-text__inner {
    padding: 0;
}
.overlay-text__text.left {
    text-align: left;
}
.overlay-text__text.right {
    text-align: right;
}
.overlay-text__text.center {
    text-align: center;
}
.overlay-text .overlay-text__title {
    line-height: 30px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 25px;
}
.overlay-text__rte {
    max-width: 65ch;
    color: #fff;
}
.text-column__button-row {
    margin-top: 15px;
}
.text-column__button {
    background: #4d4a5d;
    border: 1.5px solid #4d4a5d;
    color: #fff;
    font-size: 15px;
    line-height: 1em;
    height: auto;
    margin: 0;
    text-decoration: none!important;
    cursor: pointer;
    padding: 13px 31px;
    text-align: center;
    border-radius: 3px;
    transition: background-color .1s,color .1s,border-color .1s,opacity .1s,transform 50ms;
    display: inline-block;
    font-family: Nunito Sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-tap-highlight-color: transparent;
}
.btn--link {
    position: relative;
}
.btn--link .btn__text {
    display: inline-block;
    transition: all .5s cubic-bezier(.19,1,.22,1);
}
.overlay-text {
    position: relative;
}
.overlay-text .overlay-text__title {
    margin-bottom: 10px;
    margin-top: 10px;
    color: #000;
}
.overlay-text__rte {
    color: #000;
}
